version: "3.9"

services:
  frontend-jenkins:
    image: node:18-alpine
    working_dir: /app
    volumes:
      - ./:/app
    command: >
      sh -c "
        npm install &&
        npm run build &&
        npx serve -s dist -l 5174
      "
    ports:
      - "5174:5174"
    environment:
      VITE_APP_FIREBASE_API: "${VITE_APP_FIREBASE_API}"
      VITE_APP_FIREBASE_AUTH_DOMAIN: "${VITE_APP_FIREBASE_AUTH_DOMAIN}"
      VITE_APP_FIREBASE_PROJECT_ID: "${VITE_APP_FIREBASE_PROJECT_ID}"
      VITE_APP_FIREBASE_STORAGE_BUCKET: "${VITE_APP_FIREBASE_STORAGE_BUCKET}"
      VITE_APP_FIREBASE_MESSAGING_SENDER_ID: "${VITE_APP_FIREBASE_MESSAGING_SENDER_ID}"
      VITE_APP_FIREBASE_APP_ID: "${VITE_APP_FIREBASE_APP_ID}"
      VITE_APP_FIREBASE_MEASUREMENT_ID: "${VITE_APP_FIREBASE_MEASUREMENT_ID}"
