version: "3.9"

services:
  frontend-jenkins:
    image: node:18-alpine
    working_dir: /app
    volumes:
      - ./:/app
      - /app/node_modules
    ports:
      - "5174:4173"
    command: sh -c "npm install -g serve && npm install && npm run build && serve -s dist -l 4173"
    environment:
      CLIENT_URL=http://15.207.18.78:5174

  backend-jenkins:
    image: node:18-alpine
    working_dir: /api
    volumes:
      - ./api:/api
      - /api/node_modules
    ports:
      - "3001:8080"
    command: sh -c 'npm install && npm run start'
    environment:
      MONGO_URL=mongodb://mongo-jenkins:27017/Learnify

  mongo-jenkins:
    image: mongo:6
    ports:
      - "27018:27017"
    volumes:
      - mongo_data_jenkins:/data/db

volumes:
  mongo_data_jenkins:
